.EndClassModal {
  position: fixed;
  z-index: 30;
  font-size: 1.6rem;
  min-width: 18em;
  padding: 2.4em;
  width: min(90%, 50em);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%); 
  background-color: var(--clr-wb-100);
  color: var(--clr-wb-900);
  border-radius: 0.5em;
}

.EndClassModal h2 {
  margin: 0;
  margin-bottom: 0.7em;
}
.InputRadioConatainer div {
  margin-bottom: 0.3em;
}
.InputRadioConatainer > div > div {
  margin-bottom: 0.3em;
  margin-left: 1em;
}
.InputRadio {
  margin: 1rem 0.5rem;
  cursor: default;
  overflow: hidden;
}
.InterruptOther {
  margin: 0.6rem;
}
.Textarea{
  border:1px solid grey;
  border-radius: 5px;
  padding:3px;
  width:clamp(180px, 90%, 300px)
  
}
.Textarea:focus{
  outline: none;
  box-shadow: 0 0 10px 0px grey;
}
.ModalButtons {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin: 1em 0.5em 0;
}
.Cancel {
  margin: 0.5em;
  cursor: pointer;
}
