.enter {
  max-height: 0px;
  opacity: 0;
}
.enterActive {
  max-height: 200px;

  transition: max-height 0.3s ease-in-out, opacityt 0.3s ease-in-out;
}
.exit {
  max-height: 200px;
}
.exitActive {
  max-height: 0px;
  transition: max-height 0.3s ease-in-out, opacityt 0.3s ease-in-out;
}
