.NavigationItems{
    display: felx;
    align-items: center;
}
.NavigationItem{
    font-size: 2rem;
    color:#FF5A43;
    background-color: white;
    border:1px solid #FF5A43;
    padding: 0.4em 1em;
    border-radius: 0.3em;
    margin: 0 0.5em;
    transition: background-color  0.2s ease-out ;
}
.NavigationItem:hover{
    background-color: hsl(0, 0%, 95%);
}