.App {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NotFound {
  font-size: 4rem;
  margin-top: 0.5em;
}
@media screen and (max-width: 32em) {
  .NotFound {
    font-size: 2.5rem;
    margin-top: 0.5em;
  }
}
